<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Review</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user.email %></td>
        <td><%= comment.body %></td>
        <td>
            <% if can? :update, comment%>
                <%= link_to "Edit review", edit_movie_comment_path(@movie, comment), remote: true, local: false%>
            <%end%>
            <% if can? :destroy, comment %>
                <%= link_to "Delete review", movie_comment_path(@movie,comment), method: :delete%>
            <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="form">

</div>
<%= link_to "Back", movie_path(@movie)%>
