<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<strong>Image:</strong>
<div>
  <% if @movie.image.attached? %>
    <%= image_tag @movie.image%>
  <%else%>
    <p>No image attached</p>
  <%end%>
</div>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @movie.actor %>
</p>

<strong>Ratings:</strong>
<div>
  <% if @movie.ratings.any? %>
    <% (1..5).each do |num|%>
      <p><%=num%> : <%= @ratings_count[num] || 0 %> stars</p>
    <%end%>
  <%else%>
    <p>No one rated yet.</p>
  <%end%>
</div>
<% if @movie.ratings.exists?(user_id: current_user.id)%>
  <p>Your Rating is <strong><%= @movie.ratings.find_by(user_id: current_user.id).score%></strong></p>
  <% rating = @movie.ratings.find_by(user_id: current_user.id)%>
  <%= form_with model: [@movie, rating] do |form| %>
    <% (1..5).each do |num| %>
      <%= form.radio_button :score, num %>
      <%= num%>
    <%end%>
    <%= form.submit "Submit rating"%>
  <%end%>
<%else%>
  <strong>Add your rating</strong>
  <%= form_with model: [@movie, Rating.new] do |form| %>
    <% (1..5).each do |num| %>
      <%= form.radio_button :score, num %>
      <%= num%>
    <%end%>
    <%= form.submit "Submit rating"%>
  <%end%>
<%end%>

<% if @movie.comments.any? %>
  <div>
    <%= link_to "See Reviews", movie_comments_path(@movie)%>
  </div>
<%end%>

<% if @movie.comments.exists?(user_id: current_user.id)%>
  <p>Your Review </p>
  <div>
    <ul>
      <li>
        <%= @movie.comments.find_by(user_id: current_user.id).body%>
      </li>
    </ul>
  </div>
<%else%>
  <strong>Post a review</strong>
  <div>
    <%= form_with model: [@movie, Comment.new] do |form| %>
      <%= form.text_area :body, rows:3%>
      <br>
      <%= form.submit "Submit Review"%>
    <%end%>
  </div>
<%end%>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
